.ul {
  max-width: 800px;
}

.li {
  margin-top: 36px;
}

.author {
  line-height: 0.5em;
}

.review {
  padding-left: 16px;
  font-style: italic;
  background-color: lightgray;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
