.form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.field {
  height: 30px;
  outline: none;
}

.field:focus {
  border-width: 2px;
  border-color: darkred;
  border-radius: 8px;
}

.button {
  background-color: #ececec;
  transition: background-color 0.25s;
}

.button:hover {
  background-color: #fab9b9;
  border-color: darkred;
}
